extends layout

block content
  .container
    .row
      .col-md.12
        h1 About US
        p Note: Browsers do not display unknown elements. New elements that are not supported in older browsers will not "destroy" your web page.
        ul
          li number1
          li number2
          li number3
        p Note: Browsers do not display unknown elements. New elements that are not supported in older browsers will not "destroy" your web page.