extends layout

block content
  .jumbotron
    .container
      h1 How May I Help You?
      p Note: Browsers do not display unknown elements. New elements that are not supported in older browsers will not "destroy" your web page.
      a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
  .container
    .row
      .col-md-4
        h2 About Us
        p Note: Browsers do not display unknown elements. New elements that are not supported in older browsers will not "destroy" your web page.
        a.btn.btn-default(href="#") View Details
      .col-md-4
        h2 Services
        p Note: Browsers do not display unknown elements. New elements that are not supported in older browsers will not "destroy" your web page.
        a.btn.btn-default(href="#") View Details
      .col-md-4
        h2 Get In Touch
        p Note: Browsers do not display unknown elements. New elements that are not supported in older browsers will not "destroy" your web page.
        a.btn.btn-default(href="#") View Details
